<!DOCTYPE html>
<html>

<head>
  <title>Author list</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="/javascripts/author.js"></script>
</head>

<body>

  <input type="hidden" id="id" value="<%= id %>">

  <!-- <script>
    const id = <%= id %>;
  </script> -->

  <h1 id="name">Author's Name Here</h1>
  <div id="bookCount">Number of books</div> books

  <button id="load">Load Books</button>

  <table id="books">
    <tr>
      <th> ID </th>
      <th> Title </th>
      <th> Year </th>
    </tr>
  </table>
</body>

</html>