<!DOCTYPE html>
<html>

<head>
  <title>Author list</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="javascripts/authors-rest.js"></script>
</head>

<body>
  <button id="prev">&lt;</button>
  <button id="next">&gt;</button>
  <input type="text" id="term" placeholder="Enter name fragment" />
  <button id="filter">Filter</button>
  <div id="info"></div>
  <table id="authors">
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Books </th>
    </tr>
  </table>
</body>

</html>